[Unit]
Description=ps2mqtt
After=network.target

[Service]
ExecStart=/home/homeassistant/ps2mqtt/venv/bin/python3 ps-mqtt-daemon.py
WorkingDirectory=/home/homeassistant/ps2mqtt
StandardOutput=inherit
StandardError=inherit
Environment=PYTHONUNBUFFERED=true
Restart=always
User=homeassistant

[Install]
WantedBy=multi-user.target
